<span mat-ripple style="cursor: pointer;">
  <span *ngIf="rating; else norating">
    <span style="color: orange; font-size: medium; transform: translateY(3px);" class="material-icons" *ngFor="let star of arr(rating)">star</span>
    <span style="color: orange; font-size: medium; transform: translateY(3px);" class="material-icons" *ngIf="rating % 1 !== 0">star_half</span>
  </span>
  <ng-template #norating>
    <span style="color: orange; font-size: medium; transform: translateY(3px);" class="material-icons">star_border</span>
  </ng-template>
</span>
