<span mat-ripple style="cursor: pointer;">
  <span style="color: orange; font-size: medium; transform: translateY(3px);" class="material-icons" *ngFor="let star of toArr(full)">star</span>
  <span style="color: orange; font-size: medium; transform: translateY(3px);" class="material-icons" *ngFor="let half of toArr(half)">star_half</span>
  <span style="color: orange; font-size: medium; transform: translateY(3px);" class="material-icons" *ngFor="let empt of toArr(empty)">star_border</span>
</span>
