<mat-toolbar color="primary">
  <div routerLink="/home" style="cursor: pointer;" matTooltip="Home">
    <span mat-ripple>Gschmackig</span>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button matTooltip="Search" *ngIf="checkSearch()" routerLink="/list">
    <mat-icon>search</mat-icon>
  </button>
  <div *ngIf="!logged(); else logout">
    <button mat-icon-button matTooltip="Login" (click)="loginUI()">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Signup" (click)="signUpUI()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  <ng-template #logout>
    <button mat-icon-button matTooltip="Logout" (click)="logoff()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-template>
  <span *ngIf="logged()">{{ getUsername() }}</span>
  <button mat-icon-button matTooltip="Language" (click)="langUI()">
    <mat-icon>language</mat-icon>
  </button>
</mat-toolbar>
