<mat-toolbar color="primary">
  <div routerLink="/home" style="cursor: pointer;" matTooltip="Home">
    <span mat-ripple>Recipelist</span>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button matTooltip="Search" *ngIf="checkHome()" routerLink="/list">
    <mat-icon>search</mat-icon>
  </button>
  <div *ngIf="!logged(); else logout">
    <button mat-icon-button matTooltip="Login" (click)="loginUI()">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Signup" (click)="signUpUI()">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  <ng-template #logout>
    <button mat-icon-button matTooltip="Logout" (click)="logoff()">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-template>
  <mat-button-toggle-group appearance="legacy" [value]="getLang()">
    <mat-button-toggle value="de" (click)="changeLang('de')" >DE</mat-button-toggle>
    <mat-button-toggle value="it" (click)="changeLang('it')">IT</mat-button-toggle>
    <mat-button-toggle value="en" (click)="changeLang('en')">EN</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>
