@font-face {
  font-family: 'Noto Sans Symbols 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/notosanssymbols2/v6/7Au9p_AqnyWWAxWc3aMw_MFQjBNC7-E.ttf') format('truetype');
}

body {
  font-family: 'Noto Sans Symbols 2', sans-serif;
}
