<form [formGroup]="form" style="width: 100%;" align="center">
  <h2>Signup</h2>
  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password" type="password">
  </mat-form-field>
  <br>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="signup()">Signup</button>
</form>
<div *ngIf="error" class="mat-error" style="margin-top: 10px;">{{ error }}</div>
